---
# tasks file for hostname role
- name: Set system hostname
  ansible.builtin.hostname:
    name: "{{ bootstrap_hostname }}"
  when: bootstrap_hostname is defined
  tags: hostname

- name: Update /etc/hosts with hostname
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: '^127\.0\.1\.1'
    line: "127.0.1.1 {{ bootstrap_hostname }}.{{ domain_name }} {{ bootstrap_hostname }}"
    state: present
  when: bootstrap_hostname is defined
  tags: hostname
