---
# tasks file for satellite_registration role
- name: Check if system is registered with Satellite
  ansible.builtin.command:
    cmd: subscription-manager status
  register: subscription_status
  changed_when: false
  failed_when: false
  tags: satellite

- name: Install Satellite CA certificate
  ansible.builtin.dnf:
    name: "http://{{ satellite_hostname }}/pub/katello-ca-consumer-latest.noarch.rpm"
    state: present
    disable_gpg_check: true
  when: subscription_status.rc != 0
  tags: satellite

- name: Register with Satellite using subscription-manager
  ansible.builtin.command:
    cmd: "subscription-manager register --org='{{ satellite_organization }}' --activationkey='{{ satellite_activation_key }}'"
  when: subscription_status.rc != 0
  register: registration_result
  changed_when: "'The system has been registered' in registration_result.stdout"
  tags: satellite

- name: Enable Satellite remote execution
  ansible.builtin.dnf:
    name: katello-host-tools
    state: present
  tags: satellite
